html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
   
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    background-color: rgba(100, 153, 196, 0.199);
    border-end-start-radius: 25px;    
}

.logomarca {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 15px;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.cuidar {
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 46px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-decoration: underline 1px;
    color: rgba(79, 85, 168, 0.555);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

.link-list {
    list-style: none;
    line-height: 30px;
    font-size: large;
    font-style: oblique;
}

.header {
    
    min-height: 150px;
    display: flex;
    border-radius: 100px;
}

.imagemhome {
    width: 65rem;
    height: 250px;
    border-radius: 10px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 2px;
    display: flex;
    font-size: 18px;
    font-family: Noto Sans, sans-serif;
}

.about {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: Noto Sans, sans-serif;
}

.sobre-nos {
    font-size: 35px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-decoration: underline 1px;
    color: rgba(66, 69, 122, 0.555);
}

.clinica-geral {
    width: 510px;
    height: 300px;
    border-radius: 25%;
    border-style: groove;
    border-color: rgb(0, 174, 255);
    margin-top: 25px;
    margin-right: 15px;
}



.footer {
    background-color: rgba(7, 63, 109, 0.637);
    height: auto;
    width: auto;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.menufooter-endereco {
    margin-right: 15px;
}

.instagram {
    height: 30px;
    margin-top: 5px;
}

.facebook {
    height: 30px;
    margin-top: 5px;
}

.youtube {
    height: 30px;
    margin-top: 5px;
}

